<%= form_for(@article) do |f| %>

  <div class="articles-body col-md-10 col-md-offset-1">

    <div class="form-group">
      <div class="col-md-6">
        <%= f.text_field :titre, :placeholder => 'Titre', :class => 'articles-body-inputs' %>
      </div>
    </div>

    <br clear="all" />

    <div class="form-group">
      <div class="col-md-6">
        <%= f.text_field :categorie, :placeholder => 'Catégorie', :class => 'articles-body-inputs'%>
      </div>
    </div>

   <div class="form-group">
      <div class="col-md-6">
        <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
      </div>
   </div>

    <br clear="all" />

    <div class="form-group">
      <%= f.cktext_area :contenu, rows: 10 %><br />
    </div>

    <div class="col-md-4">
      <%= f.label :image, 'Aperçu', :class => 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.file_field :image, :class => 'input-file' %>
      </div>
    </div>

    <br clear="all" />

    <div class="form-group">
      <div class="col-md-4">
        <%= f.label :public, "Publier l'article ?",:class => 'col-md-4 control-label' %>
        <%= f.check_box :public  %>
      </div>
    </div>

  <div class="form-actions">
    <%= f.button 'Enregistrer' %>
  </div>
<% end %>

</div>

<%= javascript_include_tag Ckeditor.cdn_url %>
