
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <!--
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>

<div class="articles-body col-md-offset-1 col-md-10">

  <% @articles.each_with_index do |a, index| %>
  <% if a.public %>
    <article class="col-md-12 articles-body-each">

      <div class="col-md-3 articles-body-photo">
        <% if !a.image.thumb.url.nil? %>
          <%= link_to image_tag(a.image.thumb.url), a %>
        <% end %>
      </div>


      <div class="col-md-9 articles-body-content">

        <h2><%= link_to a.titre, a %></h2>

        <h4><%= a.categorie %> — Le <%= a.created_at.strftime('%d / %m / %Y') %></h4>
        <p>
          <%= strip_tags(a.contenu).truncate_words(75, omission: '...') %>
        </p>
        <div class="articles-body-link">
        <%= link_to 'Lire la suite', a %><% if user_signed_in? %> | <%= link_to 'Modifier', edit_article_path(a)%> | <%= link_to 'Supprimer', article_path(a), :method => :delete, data: { confirm: 'Are you sure?' } %><% end %>
        </div>

      </div>

    </article>

    <br clear="all" />


  <% end %>
  <% end %>

  <% if user_signed_in? %>
  <div class="col-xs-6 col-xs-offset-3 text-center">
    <%= link_to new_article_path, :class => 'icon-circle' do %>
        Nouvel article <i class="fa fa-plus"></i>
    <% end %>
  </div>
  <% end %>
</div>

<br>


