<div class="articles-body col-md-offset-1 col-md-10">
  <% if user_signed_in? %>
      <div class="col-xs-6 col-xs-offset-3 text-center">
        <%= link_to new_article_path, :class => 'icon-circle' do %>
            Nouvel article <i class="fa fa-plus"></i>
        <% end %>
      </div>
  <% end %>

  <% if @articles.exists? %>
    <% @articles.reverse_each do |a| %>
      <% if a.public or current_user %>
        <article class="col-md-12 articles-body-each">

          <div class="col-md-3 col-sm-6 articles-body-photo">
            <% if !a.image.url.nil? %>
              <%= link_to image_tag(a.image), a, :title => 'Lire '+a.titre %>
            <% end %>
          </div>

          <div class="col-md-9 col-sm-6 articles-body-content">

            <h2><%= link_to a.titre, a, :title => 'Lire '+a.titre %></h2>

            <h4>Dans <%= raw tag_links(a.all_tags) %> — Le <%= a.created_at.strftime('%d / %m / %Y') %></h4>
            <p>
              <%= strip_tags(a.contenu).truncate_words(75, omission: '...') %>
            </p>
            <div class="articles-body-link">
            <%= link_to 'Lire la suite', a, :title => 'Lire '+a.titre %><% if user_signed_in? %> | <%= link_to 'Modifier', edit_article_path(a)%> | <%= link_to 'Supprimer', article_path(a), :method => :delete, data: { confirm: 'Are you sure?' } %><% end %>
            </div>

          </div>

        </article>

        <br clear="all" />

      <% end %>
    <% end %>
  <% else %>
    <br clear="all"/>
    <h1 class="text-center">Pas encore d'articles</h1>
  <% end %>
</div>

<br>
