<div class="misc-actions">
  <%= link_to portfolios_path, :class => 'misc-actions-button', :title => 'Retour' do %>
      <span class="fa-stack icon-circle">
        <i class="fa fa-circle-thin fa-stack-2x misc-circle"></i>
        <i class="fa fa-arrow-left fa-stack-1x"></i>
      </span>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to(edit_portfolio_path(@portfolio), :class => 'misc-actions-button') do %>
      <span class="fa-stack icon-circle">
        <i class="fa fa-circle-thin fa-stack-2x misc-circle"></i>
        <i class="fa fa-wrench fa-stack-1x"></i>
      </span>
    <% end %>
  <% end %>
</div>

<div class="portfolios-body-show">

  <div class="portfolios-body-show-left">
    <% @portfolio.photos.shuffle.each do |p|%>
        <%= image_tag p.image.url, :class => 'zoom', size:'100x100' %>
    <% end %>


  </div>
  <div class="portfolios-body-show-right">
    <h1><%= @portfolio.titre %></h1>
    <h4><%= @portfolio.categorie %> — <%= @portfolio.date.strftime('%m / %Y') %></h4>
      <p>
        <%= simple_format(@portfolio.description)%>
      </p>
    <br clear="all" />
    <div class="portfolios-body-show-right-link">
      <%= link_to 'VOIR', @portfolio.lien, :target => '_blank', :title => 'Voir '+@portfolio.titre %>
    </div>
  </div>

</div>


