<p>
  <strong>Titre:</strong>
  <%= @portfolio.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @portfolio.description %>
</p>

<p>
  <strong>Public:</strong>
  <%= @portfolio.public %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @portfolio.thumbnail %>
</p>

<p>
  <strong>Images :</strong>
  <% @portfolio.photos.each do |p|%>
    <%= p.image %>
  <% end %>

</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
