<!DOCTYPE>
<html lang="fr">
<head>
  <title><%= titre %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'responsive', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<section>
  <div class="landing">

    <!-- BARRE DE MENUS -->
    <div class="container-fluid">

      <!-- Static navbar -->
      <nav class="navbar">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <%= link_to image_tag('ruby.svg', :class => 'layout-home', :title => 'Accueil'), root_path %>
          </div>

          <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
              <li><%= link_to 'PORTFOLIO', Portfolio, :title => 'Portfolios' %></li>
              <li><%= link_to 'ARTICLES', articles_path, :title => 'Articles' %></li>
              <li><%= link_to 'À PROPOS', '/a-propos', :title => 'A propos' %></li>
              <li><%= link_to 'CONTACT', new_contact_path, :title => 'Contact' %></li>
              <% if user_signed_in? %>
                <li><%= link_to 'ADMINISTRATION','/admin' %></li>
                <li><%= link_to 'DECONNEXION', destroy_user_session_path, method: :delete %></li>
              <% end %>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://twitter.com/Jaeger_Naut" class="layout-link" target="_blank" title="Twitter"> <i class="fa fa-twitter" aria-hidden="true"></i></i> TWITTER</a></li>
              <li><a href="https://fr.linkedin.com/in/josephlevarato" class="layout-link" target="_blank" title="Linkedin"> <i class="fa fa-linkedin-square" aria-hidden="true"></i> LINKEDIN</a></li>
              <li><a href="https://github.com/Drillan767" class="layout-link" target="_blank" title="Github"> <i class="fa fa-github" aria-hidden="true"></i> GITHUB</a></li>
              <li><a href="http://www.viadeo.com/p/002poyycsp8djrm" class="layout-link" target="_blank" title="Viadeo"> <i class="fa fa-viadeo" aria-hidden="true"></i> VIADEO</a></li>
            </ul>

          </div><!--/.nav-collapse -->

        </div><!--/.container-fluid -->
      </nav>


    </div> <!-- /container -->

    <!-- LANDING  -->
    <div class="container">
      <div class="title">JOSEPH LEVARATO, 23 ANS, DEVELOPPEUR FULL - STACK</div>
    </div>
  </div>

  <!-- SECONDE PAGE -->
    <div class="detail">
      <div class="detail-body col-md-4">
        <div class="detail-icon">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-code fa-stack-1x"></i>
          </span>
          <p>FRONT-END</p>

        </div>
        <div class="detail-desc">
          <p>
            Je maîtrise les langages HTML5, CSS, Javascript, ainsi que la bibliothèques jQuery, et apprends AngularJS
            et ReactJS.
          </p>
        </div>
      </div>

      <div class="detail-body col-md-4">
        <div class="detail-icon">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-cogs fa-stack-1x"></i>
          </span>
          <p>BACK END</p>
        </div>
        <div class="detail-desc">
          <p>
            Je tente de me spécialiser dans le Ruby et son framework Ruby on Rails, mais je reste quand même à l'écoute
            des autres technologies, telles que PHP et Symfony.
          </p>
        </div>
      </div>

      <div class="detail-body col-md-4">
        <div class="detail-icon">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-users fa-stack-1x"></i>
          </span>
          <p>USER EXPERIENCE (UX)</p>
        </div>
        <div class="detail-desc">
          <p>
            Un site fonctionnel, c'est bien. Un site fonctionnel où l'utilisateur arrive à ses fins en trois clics,
            c'est mieux.Je suis convaincu que la navigation sur un site doit être la plus intuitive possible
          </p>
        </div>
      </div>
      <div class="detail-body col-md-4">
        <div class="detail-icon">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-search fa-stack-1x"></i>
          </span>
          <p>SEO</p>
        </div>
        <div class="detail-desc">
          <p>
            Difficile de retrouver un site internet sur des moteurs de recherches si celui-ci est mal référencé. Aussi,
            la mise en place d'un référencement naturel permettra une bonne visibilité.
          </p>
        </div>
      </div>

      <div class="detail-body col-md-4">
        <div class="detail-icon">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-cloud-upload fa-stack-1x"></i>
          </span>
          <p>HEBERGEMENT</p>
        </div>
        <div class="detail-desc">
          <p>
            Tout simplement vous ôter le stress de devoir louer un serveur et de l'installer pour pouvoir y héberger votre site fraîchement
            terminé.
          </p>
        </div>
      </div>

      <div class="detail-body col-md-4">
        <div class="detail-icon">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-terminal fa-stack-1x"></i>
          </span>
          <p>WEBMASTERING</p>
        </div>
        <div class="detail-desc">
          <p>
            Votre site est terminé, mais vous venez d'avoir une idée très intéressante concernant une nouvelle fonctionnalité à implémenter ?
            Laissez-moi faire !
          </p>
        </div>
      </div>
      <div class="col-md-12 detail-linkblock">
        <%= link_to 'Voir mes créations', Portfolio, :class => 'detail-linkblock-link', :title => 'Porfolio' %>
      </div>

    </div>
  </section>

  <!-- FOOTER -->
  <footer>

    <div class="footer-block col-md-3 col-md-offset-1">
      <h2>Joseph Levarato</h2>
      <p>
        17, Boulevard Yves Farge<br />
        69007 - Lyon, France<br />
        <br />
        N° SIRET : 818 885 907 00019
      </p>
      <a href="tel:+33675566262" title="Portable" >06 75 56 62 62</a>
    </div>
    <div class="footer-block col-md-2 col-md-offset-1">
      <h2>Liens utiles</h2>
      <p class="footer-block-social">
        <%= link_to 'https://twitter.com/Jaeger_Naut', :target => '_blank', :title => 'twitter' do %>
            <i class="fa fa-twitter" aria-hidden="true"></i>
        <% end %>
        <%= link_to 'https://fr.linkedin.com/in/josephlevarato', :target => '_blank', :title => 'Linkedin' do %>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <% end %>
        <%= link_to 'https://github.com/Drillan767', :target => '_blank', :title => 'Github' do %>
            <i class="fa fa-github" aria-hidden="true"></i>
        <% end %>
        <%= link_to 'http://www.viadeo.com/p/002poyycsp8djrm', :target => '_blank', :title => 'Viadeo' do %>
            <i class="fa fa-viadeo" aria-hidden="true"></i>
        <% end %>
        <br />
        <%= link_to '/CVJosephLevaratoCDI.pdf', :target => '_blank', :title => 'CV' do %>
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <% end %>
      </p>

      <%= link_to 'Me contacter', new_contact_path, :title => 'Contact' %>
    </div>
    <div class="footer-block col-md-3 col-md-offset-1">
      <h2>Plan du site</h2>
      <ul class="footer-block-link">
        <li><%= link_to 'Accueil', root_path, :title => 'Accueil' %></li>
        <li><%= link_to 'Portfolio', Portfolio, :title => 'Porfolio' %></li>
        <li><%= link_to 'Articles', articles_url, :title => 'Articles' %></li>
        <li><%= link_to 'À propos', '/a-propos', :title => 'A propos' %></li>
        <li><%= link_to 'Contact', new_contact_url, :title => 'Contact' %></li>
        <li><%=link_to 'Mentions légales', '/mentions', :title => 'Mentions légales' %></li>
      </ul>
    </div>

  </footer>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>