<div class="col-md-4 col-md-offset-4 contacts-form">
  <div class="contacts-slogan">
    <p>N'hésitez pas à me contacter si vous avez une question ou une idée de projet à me soumettre !</p>
  </div>
  <%= form_for (@contact) do |f| %>

      <%= f.text_field :nom, :placeholder => 'Nom', :class => 'contacts-input' %>
      <%= f.text_field :email, :placeholder => 'E-mail', :class => 'contacts-input'  %>
      <%= f.text_field :objet, :placeholder => 'Objet', :class => 'contacts-input'  %>
      <%= f.text_area :message, :placeholder => 'Ecrivez votre message', :class => 'contacts-textarea'  %>
      <%= button_tag type: 'submit', :class => 'contacts-submit', :name => 'commit' do %>
          Envoyer <i class="fa fa-send" aria-hidden="true"></i>
      <% end %>
  <% end %>
</div>
