<!DOCTYPE html>
<html>
  <head>
    <title><%= titre %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <meta name="description" content="Site web personnel de Joseph Levarato | Contient un portfolio et des articles / tutoriels sur Rails">
    <meta name="keyword" content="Joseph Levarato, Lyon, Developpeur, PHP, Ruby on Rails, ">
    <meta name="twitter:site" content="@jaeger_naut"/>
    <meta name="twitter:image" content="http://josephlevarato.fr/background/lyon1080.jpg"/>
    <meta property="og:title" content="<%= titre %>">
    <meta property="og:description" content="Site web de Joseph Levarato | Contient un portfolio et des articles / tutoriels sur Rails"/>
    <meta property="og:image" content="http://josephlevarato.fr/background/lyon1080.jpg"/>
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:site_name" content="Joseph Levarato" />
    <meta property="og:type" content="website" />
    <meta name="generator" content="Rubymine 2016.2">
    <meta name="geo.region" content="FR" />
    <meta name="geo.placename" content="Lyon" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'responsive', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
  <div class="wrapper">
    <!-- BARRE DE MENUS -->
    <div class="container-fluid">

      <!-- Static navbar -->
      <nav class="navbar">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <%= link_to image_tag('ruby.svg', :class => 'layout-home', :title => 'Accueil'), root_path %>
          </div>

          <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
              <li class="nav-link"><%= link_to 'PORTFOLIO', portfolios_path, :title => 'Portfolios' %></li>
              <li class="nav-link"><%= link_to 'ARTICLES', articles_path, :title => 'Articles' %></li>
              <li class="nav-link"><%= link_to 'À PROPOS', '/a-propos', :title => 'A propos' %></li>
              <li class="nav-link"><%= link_to 'CONTACT', new_contact_path, :title => 'Contact' %></li>
              <% if user_signed_in? %>
                <li class="nav-link"><%= link_to 'ADMINISTRATION','/admin' %></li>
                <li><%= link_to 'DECONNEXION', destroy_user_session_path, method: :delete %></li>
              <% end %>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://twitter.com/Jaeger_Naut" class="layout-link" target="_blank" title="Twitter"> <i class="fa fa-twitter" aria-hidden="true"></i></i> TWITTER</a></li>
              <li><a href="https://fr.linkedin.com/in/josephlevarato" class="layout-link" target="_blank" title="Linkedin"> <i class="fa fa-linkedin-square" aria-hidden="true"></i> LINKEDIN</a></li>
              <li><a href="https://github.com/Drillan767" class="layout-link" target="_blank" title="Github"> <i class="fa fa-github" aria-hidden="true"></i> GITHUB</a></li>
              <li><a href="http://www.viadeo.com/p/002poyycsp8djrm" class="layout-link" target="_blank" title="Viadeo"> <i class="fa fa-viadeo" aria-hidden="true"></i> VIADEO</a></li>
            </ul>

          </div><!--/.nav-collapse -->

        </div><!--/.container-fluid -->
      </nav>

    </div> <!-- /container -->

    <% if notice %>
        <div class="col-md-4 col-md-offset-4 layout-notice">
          <p>
            <%= notice %>
          </p>
        </div>
        <br clear="all" />
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
    <br clear="all" />
  </div>

  <footer>

    <div class="footer-block col-md-3 col-md-offset-1">
      <h2>Joseph Levarato</h2>
      <p>
        17, Boulevard Yves Farge<br />
        69007 - Lyon, France<br />
        <br />
        N° SIRET : 818 885 907 00019
      </p>
      <a href="tel:+33675566262" title="Portable" >06 75 56 62 62</a>
    </div>
    <div class="footer-block col-md-2 col-md-offset-1">
      <h2>Liens utiles</h2>
      <p class="footer-block-social">
        <%= link_to 'https://twitter.com/Jaeger_Naut', :target => '_blank', :title => 'twitter' do %>
            <i class="fa fa-twitter" aria-hidden="true"></i>
        <% end %>
        <%= link_to 'https://fr.linkedin.com/in/josephlevarato', :target => '_blank', :title => 'Linkedin' do %>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <% end %>
        <%= link_to 'https://github.com/Drillan767', :target => '_blank', :title => 'Github' do %>
            <i class="fa fa-github" aria-hidden="true"></i>
        <% end %>
        <%= link_to 'http://www.viadeo.com/p/002poyycsp8djrm', :target => '_blank', :title => 'Viadeo' do %>
            <i class="fa fa-viadeo" aria-hidden="true"></i>
        <% end %>
        <br />
        <%= link_to '/CVJosephLevaratoCDI.pdf', :target => '_blank', :title => 'CV' do %>
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <% end %>
      </p>

      <%= link_to 'Me contacter', new_contact_path, :title => 'Contact' %>
    </div>
    <div class="footer-block col-md-3 col-md-offset-1">
      <h2>Plan du site</h2>
      <ul class="footer-block-link">
        <li><%= link_to 'Accueil', root_path, :title => 'Accueil' %></li>
        <li><%= link_to 'Portfolio', portfolios_path, :title => 'Porfolio' %></li>
        <li><%= link_to 'Articles', articles_url, :title => 'Articles' %></li>
        <li><%= link_to 'À propos', '/a-propos', :title => 'A propos' %></li>
        <li><%= link_to 'Contact', new_contact_url, :title => 'Contact' %></li>
        <li><%=link_to 'Mentions légales', '/mentions', :title => 'Mentions légales' %></li>
      </ul>
    </div>

  </footer>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield(:script) %>
  </body>
</html>
