<!DOCTYPE html>
<html>
  <head>
    <title><%= titre %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= "#{controller.controller_name}".strip %>">
  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <nav class="layout-nav">

      <ul class="layout-nav-left">
        <%= link_to image_tag('ruby.svg', :class => 'layout-home'), root_path %>
        <li><%= link_to 'PORTFOLIO', '/portfolio', :class => 'layout-link' %></li>
        <li><%= link_to 'ARTICLES', articles_path, :class => 'layout-link' %></li>
        <li><%= link_to 'CONTACT', new_contact_path, :class => 'layout-link' %></li>
        <% if user_signed_in? %>
          <li class="layout-pipe">|</li>
          <li><%= link_to 'ADMINISTRATION','/admin', :class => 'layout-link' %></li>
          <li><%= link_to 'DECONNEXION', destroy_user_session_path, method: :delete, :class => 'layout-link'  %></li>
        <% end %>
      </ul>

      <ul class="layout-nav-right">
        <li><a href="https://twitter.com/Jaeger_Naut" class="layout-link" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></i> TWITTER</a></li>
        <li><a href="https://fr.linkedin.com/in/josephlevarato" class="layout-link" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LINKEDIN</a></li>
        <li><a href="https://github.com/Drillan767" class="layout-link" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GITHUB</a></li>
      </ul>

  </nav>

    <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
