<!DOCTYPE html>
<html>
  <head>
    <title><%= titre %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
  <div class="wrapper">
    <!-- BARRE DE MENUS -->
    <div class="container-fluid">

      <!-- Static navbar -->
      <nav class="navbar">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <%= link_to image_tag('ruby.svg', :class => 'layout-home'), root_path %>
          </div>

          <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
              <li><%= link_to 'PORTFOLIO', Portfolio %></li>
              <li><%= link_to 'ARTICLES', articles_path %></li>
              <li><%= link_to 'À PROPOS', '/a-propos' %></li>
              <li><%= link_to 'CONTACT', new_contact_path %></li>
              <% if user_signed_in? %>
                  <li><%= link_to 'ADMINISTRATION','/admin', :class => 'layout-link' %></li>
                  <li><%= link_to 'DECONNEXION', destroy_user_session_path, method: :delete, :class => 'layout-link'  %></li>
              <% end %>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://twitter.com/Jaeger_Naut" class="layout-link" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></i> TWITTER</a></li>
              <li><a href="https://fr.linkedin.com/in/josephlevarato" class="layout-link" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LINKEDIN</a></li>
              <li><a href="https://github.com/Drillan767" class="layout-link" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GITHUB</a></li>
            </ul>

          </div><!--/.nav-collapse -->

        </div><!--/.container-fluid -->
      </nav>

    </div> <!-- /container -->

    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
    <br clear="all" />
  </div>

  <footer>

    <div class="footer-block col-md-2 col-md-offset-2">
      <h2>Joseph Levarato</h2>
      <p>
        17, Boulevard Yves Farge<br />
        69007 - Lyon, France<br />
        <br />
        N° SIRET : 818 885 907 00019
      </p>
      <a href="tel:+33675566262" >06 75 56 62 62</a>
    </div>
    <div class="footer-block col-md-2 col-md-offset-1">
      <h2>Liens utiles</h2>
      <p class="footer-block-social">
        <%= link_to 'https://twitter.com/Jaeger_Naut', :target => '_blank' do %>
            <i class="fa fa-twitter" aria-hidden="true"></i>
        <% end %>
        <%= link_to 'https://fr.linkedin.com/in/josephlevarato', :target => '_blank' do %>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <% end %>
        <%= link_to 'https://github.com/Drillan767', :target => '_blank' do %>
            <i class="fa fa-github" aria-hidden="true"></i>
        <% end %>
        <br />
        <%= link_to '/CVJosephLevaratoCDI.pdf', :target => '_blank' do %>
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <% end %>
      </p>

      <%= link_to 'Me contacter', new_contact_path %>
    </div>
    <div class="footer-block col-md-2 col-md-offset-1">
      <h2>Plan du site</h2>
      <ul class="footer-block-link">
        <li><%= link_to 'Accueil', root_path %></li>
        <li><%= link_to 'Portfolio', Portfolio %></li>
        <li><%= link_to 'Articles', articles_url %></li>
        <li><%= link_to 'À propos', '/a-propos' %></li>
        <li><%= link_to 'Contact', new_contact_url %></li>
        <li><%=link_to 'Mentions légales', '/mentions' %></li>
      </ul>
    </div>

  </footer>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
